<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/funcoes.js"></script>   
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!-- Custom styles for this template -->
        <link href="css/simple-sidebar.css" rel="stylesheet">
    </head>
    <body  class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #800080;">
            <div class="navbar-collapse justify-content-md-center no_padding" id="navbarsExample10">
                <ul class="navbar-nav no_padding">
                    <li class="nav-item active">
                    <center>
                        <a class="nav-link no_padding" href="#"><img class="logo_index" src="images/logo.png" alt="Sexo Casual Brasília"/></a>              
                    </center>                        
                    </li>                    
                </ul>
            </div>
            <div>
                <ul class="navbar-nav" style="padding-right: 30px;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="logo_index_login" src="images/Friends.png"  style="width: 60px;" alt=""/>
                        </a>
                    <center>
                        <div class="dropdown-menu no_padding" style="max-width: 100px;" aria-labelledby="dropdown10">
                            <a class="dropdown-item" href="login.jsp">Entrar</a>
                            <a class="dropdown-item" href="cadastro.jsp">Cadastrar</a>
                        </div>
                    </center>
                    </li>
                </ul> 
            </div>
        </nav>
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Confirme seu e-mail</h1>
            <p class="lead">Enviamos um link de confirmação para seu endereço de email, favor confimar sua conta para proseguir!</p>
            <p class="lead">
                <a href="/" class="btn btn-lg btn-secondary" style="margin-bottom: 3px;">Já ativei</a>&nbsp;<a class="btn btn-lg btn-secondary">Enviar e-mail novamente</a>
            </p>
        </main>
    </body>
</html>
